data_science/FremontBridge.csv
data_science/recipeitems-latest.json.gz
data_science/gistemp250_GHCNv4.nc
data_science/marathon-data.csv
.vscode/settings.json
PG Local.session.sql
imdb-web-scraping.ipynb
referensi buku/Hands On Machine Learning with Scikit Learn and TensorFlow.pdf
machine_learning_project/titanic/train.csv
machine_learning_project/titanic/test.csv
machine_learning_project/titanic/submission.csv
machine_learning_project/titanic/gender_submission.csv
.gitignore
machine_learning_project/mnist_model.pkl
